[submodule "auth"]
	path = auth
	url = https://github.com/StephenKhytze/SCISP-Auth-Module.git
[submodule "library"]
	path = library
	url = https://github.com/StephenKhytze/SCISP-Library-Module.git
[submodule "class-faculty"]
	path = class-faculty
	url = https://github.com/StephenKhytze/SCISP-Class-Faculty-Module.git
[submodule "announcement-event"]
	path = announcement-event
	url = https://github.com/StephenKhytze/SCISP-Announcement-Event-Module.git
[submodule "student"]
	path = student
	url = https://github.com/StephenKhytze/SCISP-Student-Module.git
